.cardContainer {
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.cardContainer:hover {
    box-shadow: none;
}

.cardFrame {
    width: auto;
    height: 300px;
    overflow: hidden;
    
}

.cardFrame img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cardInfo {
    background-color: rgba(144, 238, 144, 0.5);
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}